{% extends 'teleport-base.html'%}

{% block my_styles %}
{% endblock %}

{% block title %}
Создать отчёт о коммутации
{% endblock %}

{% block add_scripts %}
{% endblock %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="/teleport/create_teleport_record">Создать новую запись</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/teleport/schedule">Расписание</a>
</li>
{% endblock %}

{%block body %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div id='input-form' class="col-md-6 offset-md-3">
                <label for="translationStartTime">Начало трансляции</label><br>
                <input type="datetime-local" id="translationStartTime" name="translationStartTime" placeholder="" required="">
                <div class="invalid-feedback">
                  Необходимо ввести время начала трансляции.
                </div>
                <br>

                <label for="translationEndTime">Окончание трансляции</label><br>
                <input type="datetime-local"  id="translationEndTime" name="translationEndTime" placeholder="" required="">
                <div class="invalid-feedback">
                  Необходимо ввести время окончания трансляции.
                </div>
                <br>

                <label for="teleportReportServiceData">Служебная информация</label>
                <textarea class="form-control" id="teleportReportServiceData" name="teleportReportServiceData" rows="10" cols="50" placeholder=""></textarea>

                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Отправить отчёт</button>
            </div>
        </form>
    </div>
{% endblock %}
