<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

        {% block my_styles %}
        {% endblock %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block add_scripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>