<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.5.1.slim.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/static-actions.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/static-input-controllers.js') }}"></script>

        {% block my_styles %}
        {% endblock %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block add_scripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>