<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <script>
            function addText(Button) {
                var input = document.getElementById('reportTags');
                input.value = input.value + Button.textContent + ' ';
            }
        </script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>