<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <title>Выберите тип отчёта</title>
</head>
<body>
    <form action="/reports">
        <button class="btn btn-dark btn-lg btn-block" style="margin: 10px;">Инженерные отчёты</button>
    </form>
    <form action="/switching_reports/switching_reports">
        <button class="btn btn-dark btn-lg btn-block" style="margin: 10px;">Отчёты о коммутации</button>
    </form>
</body>
</html>