{% extends 'base.html'%}

{% block title %}
{{ report.summary }}
{% endblock %}

{%block body %}
<div class="container mt-5">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/create-report">Create a report</a>
        <a class="p-2 text-dark" href="/reports">Reports</a>
      </nav>
    </div>
    <h1>{{ report.summary }}</h1>
    <div class="alert alert-info">
        <p>{{ report.description }}</p>
        <p><b>Date: {{report.date}}</b></p>
        <a href="/reports/id={{ report.id }}/delete" class="btn btn-danger">Delete</a>
        <a href="/reports/id={{ report.id }}/update" class="btn btn-success">Edit</a>
    </div>
</div>
{% endblock %}