{% extends 'base.html'%}

{% block title %}
All reports
{% endblock %}

{%block body %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/create-report">Create a report</a>
            <a class="p-2 text-dark" href="#">Reports</a>
          </nav>
        </div>
        <div class="container mt-5">
            <div class="md-form mt-0">
                <form action="/search" method="POST">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_string">
                </form>
            </div>
            <br>

            <h1>All reports</h1>

            <hr>
            <form action='/reports/search_by_tag' method="POST">
                {% if tags|length > 0 %}
                    {% for tag in tags %}
                        <input class="btn btn-warning" type="submit" name="{{ tag }}_button" value="{{ tag }}">
                    {% endfor %}
                {% endif %}
            </form>
            <hr>

            {% if reports|length > 0 %}
                {% for rep in reports %}
                <div class="alert alert-info">
                    <h2>{{rep.summary}}</h2>
                    <p>{{rep.tags}}</p>
                    <p>{{rep.user_name}}</p>
                    <p><b>Date: {{rep.date}}</b></p>
                    <a href="/reports/id={{ rep.id }}">Description</a>
                </div>
                {% endfor %}
            {% else %}
                <p>No reports were found in database.</p>
            {% endif %}
        </div>
{% endblock %}