{% extends 'base.html'%}

{% block my_styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/main.css') }}">
{% endblock %}

{% block title %}
Детали инженерного отчёта
{% endblock %}

{% block add_scripts %}
{% endblock %}

{%block body %}
<div class="container mt-5">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/create-report">Создать инженерный отчёт</a>
            <a class="p-2 text-dark" href="/create-switching-report">Создать отчёт о коммутации</a>
            <a class="p-2 text-dark" href="/reports">Инженерные отчёты</a>
              <a class="p-2 text-dark" href="/switching-reports">Отчёты о коммутации</a>
      </nav>
    </div>
    <h1>{{ report.summary }}</h1>
    <div class="alert alert-info">
        <p id="desc"><b>Подробное описание:</b> {{ report.description[:262] }}<span id="more">{{report.description[262:]}}</span></p>
        <button onclick="read()" id="more_link">Read more..</button>
        <br>
        <br>
        <p><b>Замечания:</b> {{ report.remarks }}</p>
        <p><b>Дата создания отчёта: {{report.date}}</b></p>
        <a href="/reports/id={{ report.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/reports/id={{ report.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}