{% extends 'base.html'%}

{% block my_styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/main.css') }}">
{% endblock %}

{% block title %}
{{switching_report.work_type}} для {{switching_report.customer}}
{% endblock %}

{% block add_scripts %}
<script>
    var flag = 0;
    function read(){
        if(flag == 0){
            document.getElementById("more").style.display="inline";
            document.getElementById("more_link").innerHTML="Скрыть";
            flag = 1;
        }
        else{
            document.getElementById("more").style.display="none";
            document.getElementById("more_link").innerHTML="Читать подробнее..";
            flag = 0;
        }
    }
</script>
{% endblock %}

{%block body %}
<div class="container mt-5">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/create-report">Создать инженерный отчёт</a>
            <a class="p-2 text-dark" href="/create-switching-report">Создать отчёт о коммутации</a>
            <a class="p-2 text-dark" href="/reports">Инженерные отчёты</a>
              <a class="p-2 text-dark" href="/switching-reports">Отчёты о коммутации</a>
          </nav>
        </div>
    <h1>{{switching_report.work_type}} для {{switching_report.customer}}</h1>
    <div class="alert alert-info">
        <p id="desc"><b>Комментарий:</b> {{ switching_report.comment[:262] }}<span id="more">{{switching_report.comment[262:]}}</span></p>
        <button onclick="read()" id="more_link">Читать подробнее..</button>
        <br>
        <br>
        <p><b>Состав смены:</b> {{switching_report.shift_comp}}</p>
        <p><b>Начало трансляции:</b> {{switching_report.start_time}}</p>
        <p><b>Окончание трансляции:</b> {{switching_report.end_time}}</p>
        <p><b>Окончание трансляции:</b> {{switching_report.end_time}}</p>
        <p><b>Основной источник:</b> {{switching_report.source}}</p>
        <p><b>Основное направление:</b> {{switching_report.destination}}</p>
        <p><b>Резервный источник:</b> {{switching_report.reserve_source}}</p>
        <p><b>Резервное направление:</b> {{switching_report.reserve_destination}}</p>
        <p><b>Замечания:</b> {{switching_report.remarks}}</p>
        <a href="/switching-reports/id={{ switching_report.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/switching-reports/id={{ switching_report.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}