#desc {
     word-wrap: break-word;
     text-align: justify;
}

#more {
    display: none;
}

.creation-date {
    text-align: left;
    font-size: 20px;
}


.main-srcs-bg-modal, .main-dests-bg-modal, .res-srcs-bg-modal, .res-dests-bg-modal,
 .main-var-srcs-bg-modal, .main-var-dests-bg-modal, .res-var-srcs-bg-modal, .res-var-dests-bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.main-srcs-modal-content, .main-dests-modal-content, .res-srcs-modal-content, .res-dests-modal-content,
 .main-var-srcs-modal-content, .main-var-dests-modal-content, .res-var-srcs-modal-content, .res-var-dests-modal-content {
    width: 500px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: inline-block;
}

.main-srcs-close-btn, .main-dests-close-btn, .res-srcs-close-btn, .res-dests-close-btn,
.main-var-srcs-close-btn, .main-var-dests-close-btn, .res-var-srcs-close-btn, .res-var-dests-close-btn {
    position: absolute;
    top: -15px;
    right: 0px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.report-desc-block {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 500px;
    border: 1px solid white;
    justify-content: center;
    display: none;
}

.report-desc-block h2 {
    font-family: Geneva;
    margin-top: 15px;
    text-align: center;
}

.report-desc-block p {
    font-family: Geneva;
}

.report-desc-block a {
    margin-bottom: 20px;
    position: relative;
}

.report-desc-block button {
    margin-left: 30px;
}

.report-desc-block #control-buttons {
    margin-left: 30%;
    position: relative;
    width: fit-content;
}

.work-type-block {
    margin-top: 20px;
    width: 550px;
    border-radius: 40px;
    text-align: center;
    border: 2px solid black;
    position: relative;
    justify-content: center;
}

.work-type-block:hover{
    cursor: pointer;
}

.work-type-block h2 {
    font-size: 24px;
}

.day-block {
    width: fit-content;
}

#day-date {
    text-align: center;
    font-size: 30px;
}

table {
}

tr, td {
    color: black;
    text-align: left;
}

