button {
}

#desc {
     word-wrap: break-word;
     text-align: justify;
}

#more {
    display: none;
}

.main-srcs-bg-modal, .main-dests-bg-modal, .res-srcs-bg-modal, .res-dests-bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.main-srcs-modal-content, .main-dests-modal-content, .res-srcs-modal-content, .res-dests-modal-content {
    width: 500px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: inline-block;
}

.main-srcs-close-btn, .main-dests-close-btn, .res-srcs-close-btn, .res-dests-close-btn {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
}

.report-desc-block {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 600px;
    border-radius: 40px;
    border: 1px solid white;
    justify-content: center;
    display: none;
}

.report-desc-block h2 {
    font-family: Geneva;
    margin-top: 15px;
    text-align: center;
}

.report-desc-block p {
    font-family: Geneva;
    margin: 30px;
}

.report-desc-block a {
    margin-bottom: 20px;
    position: relative;
}

.report-desc-block button {
    margin-left: 30px;
}

.report-desc-block #control-buttons {
    margin-left: 30%;
    position: relative;
    width: fit-content;
}

.work-type-block {
    margin-top: 20px;
    width: 750px;
    border-radius: 40px;
    text-align: center;
    border: 2px solid black;
    position: relative;
    justify-content: center;
}

table {
}

tr, th {
    color: black;
}